[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "atena"]
	path = atena
	url = https://github.com/functionalgenomics/atena
[submodule "gDNAx"]
	path = gDNAx
	url = https://github.com/functionalgenomics/gdnax
