[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "atena"]
	path = atena
	url = https://github.com/functionalgenomics/atena
	shallow = true
	registered = true
